{{#if (isEntity)}}<h2>{{name}} Details</h2>
<form #crudForm="ngForm">
<div class="form-container">{{#each fields}}{{#if (isField)}}{{#ifCond type "===" "Boolean"}}
  <mat-checkbox [(ngModel)]="{{toLowerCase ../name}}.{{toLowerCase name}}" name="{{toLowerCase name}}">{{name}}</mat-checkbox>{{else}}
  <mat-form-field><input matInput{{#ifCond type "===" "Int"}} type="number"{{/ifCond}}{{#if ./isRequired}} required{{/if}} [(ngModel)]="{{toLowerCase ../name}}.{{toLowerCase name}}" placeholder="{{name}}" name="{{toLowerCase name}}"/></mat-form-field>{{/ifCond~}}
{{/if}}{{/each}}</div>
<button mat-button color="primary" matTooltip="Save record and return" matTooltipPosition="above" aria-label="Save changes to the record and return" (click)="save()"><mat-icon>save</mat-icon>Save</button>
<button mat-button color="warn" matTooltip="Discard record and return" matTooltipPosition="above" aria-label="Discard any changes to the record and return" (click)="back()"><mat-icon>cancel</mat-icon>Cancel</button>
<button mat-button color="warn" matTooltip="Delete record and return" matTooltipPosition="above" aria-label="Delete the record and return" (click)="delete()"><mat-icon>delete</mat-icon>Delete</button>
</form>
{{/if}}
